@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;


.side-nav {
    position: fixed;
    width: 60px;
    height: calc(100vh - 120px);
    top: 127.5px;
    left: -60px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 20px;
    padding: 0.4rem 0.8rem;
    background-color: $white;
    transition: left 0.5s ease-in-out;

    &.active {
        left: 0;
    }

    &__header {
        text-align: center;
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    &__list {
        list-style: none;
        padding: 0;

        .side-nav__link {
            text-decoration: none;
            padding: 10px 20px;
            color: white;
            display: block;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #501b74;
            }

            &.active {
                background-color: rgba(255, 255, 255, 0.2);
                border-left: 4px solid #8a2be2;
            }
        }
    }
}

.sidebar-toggle {
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.sidebar-icon {
    position: absolute;
    top: 0.4rem;
    left: 50%;
    transform: translateX(-50%);
    line-height: 50px;
    cursor: pointer;
}

.nav-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.nav-icon {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease-in-out;
    margin: 0 10px;
}

.nav-item:hover .nav-icon {
    transform: scale(1.1);
}

.nav-text {
    visibility: hidden;
    margin-top: 0;
    font-size: 14px;
    color: #333;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
}

.tooltip {
    position: absolute;
    top: 50%;
    left: 120%;
    background-color: rgba(0, 0, 0, 0.8);
    color: $white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

.nav-item:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.download-icon img {
    width: 32px;
    height: 24px;
}