@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;


.side-nav {
    position: fixed;
    width: 60px;
    height: calc(100vh - 120px);
    top: 127.5px;
    left: -60px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 20px;
    padding: 0.4rem 0.8rem;
    background-color: $white;
    transition: left 0.5s ease-in-out;

    &__list {
        list-style: none;
        padding: 0;
    }
}

.nav-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.nav-item:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.download-icon img {
    width: 32px;
    height: 24px;
}

.offcanvas {
    &.bg-dark {
        background-color: $side-nav-color !important;
    }

    &-title {
        color: $white;
    }


    &-download button {
        background-color: $button-color1;
        color: $white;
        border: 5px solid $button-color1;
        border-radius: 1.25rem;

        &:hover {
            background-color: $gradient-color1;
            border: 5px solid $secondary-colour-2;
        }
    }

}

.nav-link.active {
    background-color: $white;
    border: 2px solid $white;
    border-radius: 20px;

}

.nav-link.active .icon-white {
    filter: invert(100%);
}

.nav-link .icon-white {
    filter: invert(100%);
}

.nav-link .icon-black {
    filter: invert(0%);
}