@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.report {
    padding-left: 0.5rem;
    margin: 1rem 1.5rem;

    &__container {
        width: 100%;
        transition: 0.5s ease-in-out;
        margin-top: 1rem;

        & h4 {
            margin: 2rem 0.5rem;
        }
    }

    &__durationPicker {
        margin-bottom: 1.25rem
    }

    &__customDatePicker {
        margin-top: 0.625rem;
    }

    &__datePickerLabel {
        margin-right: 0.625rem;
    }

    &__start-date {
        display: flex;
        margin-bottom: 2rem;
    }

    &__end-date {
        display: flex;
        margin-bottom: 2rem;
    }

    &__applyButton {
        margin: 1rem;
        width: 12.5rem;
        padding: 0.3125rem 0.3125rem !important;
        background-color: $button-color1;
        color: $white;
        border: 0.3125rem solid $button-color1;
        border-radius: 0.75rem;
        cursor: pointer;
        height: 3.125rem;

        &:hover {
            opacity: 0.5;
        }

        @include body-medium;
    }

    &__chartContainer {
        margin-top: 1.25rem;
        min-height: 18.75rem;
    }

    &__errorMessage {
        margin-top: 1.25rem;
    }

    &__chart {
        canvas {
            border: 1px solid #ddd;
            border-radius: 1.25rem;
            background-color: #f9f9f9;
            height: 20.625rem;
            width: 100%;
        }

        .chartjs-legend {
            display: flex;
            flex-wrap: wrap;
            gap: 0.625rem;
            margin-bottom: 1.25rem;

            .legend-item {
                display: flex;
                align-items: center;
                gap: 0.3125rem;

                .legend-color-box {
                    width: 0.75rem;
                    height: 0.75rem;
                    border-radius: 0.1875rem;
                }

                .legend-text {
                    font-size: 0.875rem;
                    color: #333;
                }
            }
        }


        .chartjs-tooltip {
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            border-radius: 0.25rem;
            padding: 0.5rem;
            font-size: 0.75rem;
            pointer-events: none;
        }
    }
}

.report__durationPicker {
    margin-bottom: 1.25rem;

    label {
        margin-right: 0.625rem;
    }

    select {
        padding: 0.3125rem;
        border-radius: 0.25rem;
        border: 1px solid #ccc;
    }
}

.download-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 13.375rem;
    right: 0.075rem;
    padding: 0;
    margin: 0;

    .download-icon {
        width: 2.5rem;
        height: 2.5rem;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.8;
        }
    }
}

label {
    @include body-small;
}