@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

p {
    padding: 0;
    margin: 0;
}

.d-flex.gap-5 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    box-shadow: 0 0 0px 1000px $box-shadow inset !important;
}

button {
    height: 2.8125rem;

    @include body-medium
}

.btn {
    &-success {
        border-radius: 1.25rem;
        border: 0.3125rem solid $button-color1;
        background-color: $button-color1;
        color: $white;
        width: 12.5rem;


        &:hover {
            opacity: 0.5;

            border: 0.3125rem solid $button-color1;
            background-color: $button-color1;
        }

        @include tablet {
            width: 15.625rem;
        }
    }

    &-cancel {
        border-radius: 1.25rem;
        border: 1px solid $button-color2;
        background-color: $button-color2;
        color: $white;
        width: 12.5rem;
    }

    &:hover {
        opacity: 0.5;

        border: 0.3125rem solid $off-white;
        background-color: $cancel-btn;
    }

    &-edit {
        border-radius: 1.25rem;
        border: 0.3125rem solid $button-color1;
        background-color: $button-color1;
        color: $white;
        width: 12.5rem;

        &:hover {
            opacity: 0.5;
            border: 0.3125rem solid $button-color1;
            background-color: $button-color1;
        }
    }
}

h3 {
    padding: 1rem 0.5rem 1rem 0rem;
}

.modal-footer {
    gap: 1rem;
    flex-wrap: nowrap
}

.btn-secondary {
    @extend .btn-cancel;
}

.btn-primary {
    @extend .btn-success
}

.b .success-message {
    position: fixed;
    top: 5rem;
    right: 0.625rem;
    background-color: $button-color1;
    color: $white;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    border-radius: 0.625rem;
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}