@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

p {
    padding: 0;
    margin: 0;
}

.d-flex.gap-5 {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    box-shadow: 0 0 0px 1000px $box-shadow inset !important;
}

button {
    height: 70px;

    @include body-medium
}

.btn {
    &-success {
        border-radius: 20px;
        border: 5px solid $button-color1;
        background-color: $button-color1;
        color: $white;
        width: 200px;


        &:hover {
            opacity: 0.5;

            border: 5px solid $button-color1;
            background-color: $button-color1;
        }

        @include tablet {
            width: 250px;
        }
    }

    &-cancel {
        border-radius: 20px;
        border: 1px solid $button-color2;
        background-color: $button-color2;
        color: $white;
        width: 200px;
    }

    &:hover {
        opacity: 0.5;

        border: 5px solid $off-white;
        background-color: $cancel-btn;
    }

    &-edit {
        border-radius: 20px;
        border: 5px solid $button-color1;
        background-color: $button-color1;
        color: $white;
        width: 200px;

        &:hover {
            opacity: 0.5;
            border: 5px solid $button-color1;
            background-color: $button-color1;
        }
    }
}

h3 {
    padding: 1rem 0.5rem 1rem 0rem;
}

.success-message {
    position: fixed;
    top: 80px;
    right: 10px;
    background-color: $button-color1;
    color: $white;
    padding: 10px 20px;
    border-radius: 5px;
    border-radius: 10px;
    animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}