@use "variables" as *;

@mixin tablet {
    @media screen and (min-width:$tablet-breakpoint) {
        @content;

    }
}

@mixin desktop {
    @media screen and (min-width:$desktop-breakpoint) {
        @content;

    }
}

@mixin mobile {
    @media screen and (min-width:$mobile-breakpoint) {
        @content;

    }
}

@mixin background-gradient {
    background: linear-gradient(90deg,
            $background-colour1 0%,
            $background-colour2 30%,
            $background-colour3 60%,
            $gradient-color2 100%);
}

@mixin pageheader {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 28px;
    line-height: 18px;

    @include tablet {
        font-size: 40px;
        line-height: 32px;
    }
}