@use "variables" as *;

@mixin tablet {
    @media screen and (min-width:$tablet-breakpoint) {
        @content;

    }
}

@mixin desktop {
    @media screen and (min-width:$desktop-breakpoint) {
        @content;

    }
}

@mixin mobile {
    @media screen and (min-width:$mobile-breakpoint) {
        @content;

    }
}

@mixin background-gradient {
    background: linear-gradient(90deg,
            $background-colour1 0%,
            $background-colour2 30%,
            $background-colour3 60%,
            $gradient-color2 100%);
}

@mixin pageheader {
    font-family: "Outfit";
    font-weight: 500;
    font-size: 28px;
    line-height: 22px;

    @include tablet {
        font-size: 40px;
        line-height: 32px;
    }
}

@mixin body-medium {
    font-family: "Outfit";
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;

    @include tablet {
        font-size: 22px;
        line-height: 24px;
    }
}

@mixin body-large {
    font-family: "Outfit";
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    @include tablet {
        font-size: 24px;
        line-height: 32px;
    }
}

@mixin body-small {
    font-family: "Outfit";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    @include tablet {
        font-size: 18px;
        line-height: 22px;
    }
}



@mixin button {
    font-family: "Outfit";
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;

    @include tablet {
        font-size: 22px;
        line-height: 32px;
    }
}

@mixin title-style {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    @include tablet {
        font-size: 32px;
        line-height: 32px;
    }
}