@font-face {
    font-family: "Outfit";
    src: url("../../assets/Font/Outfit-Light.woff") format("woff");
    font-weight: 300;

}

@font-face {
    font-family: "Outfit";
    src: url("../../assets/Font/Outfit-Medium.woff") format("woff");
    font-weight: 500;
}