$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint : 1280px;
$gradient-color1 : #8080D7;
$background-colour1: #D0CFE956;
$text-colour2: #BAE6FF8C;
$modal-black: rgba(0, 0, 0, 0.5);
$button-color2: #D8BFD8;
$secondary-colour-2: #BDC5D5;
$black: #100F11;
$background-colour: #DED7FA;
$white: #f8f9fa;
$error: #dc3545;
$button-color1: #673AB7;
$primary-colour1: #fff;
$side-nav-color: #3b0d3d;
$cancel-btn: #3b3b3d56;
$off-white: rgb(178 178 207 / 34%);
$box-shadow: #fbfbfb;