$tablet-breakpoint: 768px;
$desktop-breakpoint : 1280px;
$gradient-color1 : #8080D7;
$background-colour1: #D0CFE956; // 34% opacity
$background-colour2: #DF2771AB; // 67% opacity
$background-colour3: #BAE6FF8C; // 55% opacity
$gradient-color2: #FFCEB7FF; // 100% opacity
$button-color: #8b4cfc;
$button-color2: #D8BFD8;
$secondary-colour-2: #BDC5D5;
$text-color: #100F11;
$background-colour: #DED7FA;