@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/typography" as *;


.modal.fade.show.d-block {

    background: $modal-black;


}


.modal {
    &__btn {
        background-color: $button-color1;
        border-radius: 5px;
        border: 1px solid $button-color2;
        color: $white;
        width: 7.5rem;
        @include body-large;


        &:hover {
            opacity: 0.5;
        }
    }

    &-message {
        @include uplifiting-text;
    }

    &-title {
        justify-content: center;
        @include uplifing-header;
    }
}