@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form-label {

    font-family: "Outfit";

}

input,
label {
    @include body-large
}

span {
    padding-bottom: 0.0025rem !important;
    color: $error;
    @include body-small;
}

.submit-btn {
    border: 1px solid $button-color2;
    background-color: $button-color1;
    width: 200px;
    border-radius: 20px;
    color: $white;
    @include button;

    &:hover {
        opacity: 0.5;
    }
}

.btn-cancel-btn {
    border: 1px solid $button-color2;
    background-color: $button-color2;
    width: 120px;
    border-radius: 1.25rem;
    color: $white;
    @include button;

    &:hover {
        opacity: 0.5;
    }
}

.alert.alert-danger.d-flex.align-items-center {
    margin: 0;
    background-color: $primary-colour1;
    border: none;
}

textarea.form-control {
    resize: none;
}

.d-flex.justify-content-between {
    padding: 0;
    gap: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
    box-shadow: 0 0 0px 1000px $box-shadow inset !important;

    @include tablet {
        padding: 2rem;
    }
}

span {
    display: flex;
    justify-content: center;
}

article {
    color: $gradient-color1;
    text-align: center;
    @include title-style;

}