@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form-label {

    font-family: "Outfit";

}

input {
    @include body-large
}

span {
    color: $error;
    @include body-medium;
}

.submit-btn {
    border: 1px solid $button-color2;
    background-color: $button-color1;
    width: 50%;
    border-radius: 20px;
    color: $white;
    @include body-medium;

    &:hover {
        opacity: 0.5;
    }
}

.cancel-btn {
    border: 1px solid $button-color2;
    background-color: $button-color2;
    width: 35%;
    border-radius: 1.25rem;
    color: $white;

    &:hover {
        border: 1px solid $button-color1;
        background-color: $button-color2;
        opacity: 0.5;
    }
}

.alert.alert-danger.d-flex.align-items-center {
    margin: 0;
    background-color: $primary-colour1;
    border: none;
}