@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header {
    background-color: #4f23a5fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin-bottom: 2rem;
    width: 100%;
    ;
    gap: 0.5rem;

    &__title {
        background: linear-gradient(74deg, #edeaef, #d5c3db);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        padding-left: 20px;
        cursor: pointer;
        @include pageheader;
    }

    &__icon {
        padding-right: 5px;
        cursor: pointer;
        position: relative;

        .menuImg {
            width: 24px;
            height: 24px;
        }

        &--tooltip {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: $text-color;
            color: $white;
            padding: 5px 10px;
            font-size: 12px;
            border-radius: 5px;
            white-space: nowrap;
            opacity: 1;
            visibility: visible;

        }
    }
}