@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.header {
    background-color: #4f23a5fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.6875rem;
    margin-bottom: 2rem;
    width: 100%;
    gap: 0.5rem;

    & a {
        text-decoration: none !important;
        appearance: none;
        color: $primary-colour1 !important;
    }

    &__title {
        background: linear-gradient(74deg, #edeaef, #d5c3db);
        -webkit-background-clip: text;
        background-clip: text;
        color: $primary-colour1;
        display: inline-block;
        padding-left: 1rem;
        cursor: pointer;
        @include pageheader;
    }

    &__icon {
        padding-right: 0.3125rem;
        cursor: pointer;
        position: relative;

        .menuImg {
            width: 1.5rem;
            height: 1.5rem;

            @include tablet {
                width: 2rem;
                height: 2rem;
            }
        }

        &--tooltip {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: $black;
            color: $white;
            padding: 0.3125rem 0.625rem;
            font-size: 0.75rem;
            border-radius: 0.3125rem;
            white-space: nowrap;
            opacity: 1;
            visibility: visible;
        }
    }
}