@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.login {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    &-container h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    &-container form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-container input {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 250px;
    }

    &-container button {
        padding: 10px;
        background-color: $button-color1;
        color: $white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 250px;
    }

    &-container button:hover {
        background-color: $button-color2;
    }

    &-btn {
        border-radius: 20px;
        border: 5px solid $button-color1;
        background-color: $button-color1;
        color: $white;
        width: 20%;
        box-shadow: unset;

        &:hover {
            opacity: 0.5;
        }
    }

    &-link {
        text-decoration: underline;
        color: $button-color1 !important;
        border: none !important;
        background-color: $white;
        padding: 0 !important;
        margin: 0.5rem;

        @include body-medium;

        &:hover {
            opacity: 0.5;

        }
    }

}

.error-message {
    color: $error;
    margin-top: 10px;
}


.register-link:hover {
    text-decoration: underline;
}