@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.register {
    &-btn {
        border-radius: 20px;
        border: 5px solid $button-color1;
        background-color: $button-color1;
        color: $white;
        width: 20%;

        &:hover {
            opacity: 0.5;
            opacity: 0.5;
            border: 5px solid $button-color1;
            background-color: $button-color1
        }


    }

    &__links {
        p {
            display: flex;
            gap: 1rem;
        }

        &-link {
            text-decoration: underline;
            color: $button-color1;

            &:hover {
                opacity: 0.5;
            }
        }

        &__success-link span {

            color: $button-color1 !important;
            margin-top: 10px !important;
            margin-bottom: 1rem !important;
            ;
            text-align: center !important;
            @include body-medium;
        }


    }
}

.text-success.register__success p {
    gap: 0.5rem;
}